/* set brand colors*/
:root {
    --blue-color: rgb(81 180 233);
    --light-blue-color: rgb(81 180 233 / 20%);
    --black-color: #1a1a1a;
    --dark-grey-color: #808080;
    --light-grey-color: #f8f9fa;
    --white-color: #ffffff;
    --shadow-color: rgb(0 0 0 / 10%);
}

body {
    font-family: 'Roboto';
    color: var(--black-color);
    background-color: var(--light-grey-color);
    margin: 0;
}

a {
    color: var(--blue-color);
    text-decoration: none;
}


/* container */
.container {
    width: 100%;
    padding:10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


/*navigation*/
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: var(--white-color);
    box-shadow: 0 1px 7px var(--shadow-color);
}


nav .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


nav .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .menu>li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 1em;
    text-transform: uppercase;
}

nav .brand {
    font-family: "Caveat";
    font-size: 1em;
}

/* Header */
header {
    margin-top: 100px;
}



header .hero {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header .hero .about,
header .hero .subscribe {
    margin: 10px;
}



header .hero .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header .hero .intro img {
    border-radius: 9999rem;
    max-width: 200px;
    padding-right: 10px;
    order:2
}

header .hero .intro h1 {
    text-align: center;
}

header .hero .intro p {
    max-width: 250px;
    color: var(--dark-grey-color);
    font-size: 1.25em;
    text-align: center;
    padding-left: 10px;
}

header .hero .iframe {
    width: 300px;
    height: 250px;
}

/* writing */
section.writing {
    background-color: var(--light-blue-color);
}

section.writing .writing-header p {
    color: var(--dark-grey-color);
    font-size: 1.25em;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.articles>article {
    height: 375px;
    width: 240px;
    position: relative;
    text-align: left;
    background-color: var(--white-color);
    padding: 10px;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    border-radius: 2%;
    margin: 10px;
}

.articles>article h3 {
    height: 75px;
}

.articles>article .benefit {
    height: 100px;
    color: var(--dark-grey-color);
}

.articles>article .more {
    position: absolute;
    bottom: 10px;
}

.articles>article .more a {
    text-transform: uppercase;
    color: var(--blue-color);
}

article .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
}

footer {
    background-color: var(--white-color);
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container .social-media{
    padding-right: 15px;
}

/* media queries for responsive design*/

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    nav .brand {
        font-size: 3em;
    }

    nav .menu>li {
        font-size: 1.25em;
    }

    header .hero .intro h1 {
        text-align: left;
    }
    
    header .hero .intro p {
        text-align: left;
    }


    header .hero .iframe {
        width: 380px;
        height: 280px;
    }

    header .hero img {
        width: 213px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}